<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <!-- Bootstrap Icons link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    >
    <!-- Bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    >
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>

  <body>
    <div class="sidebar" id="sidebar">
      <div class="logo-content">
        <div class="logo">
          <a href="index.html">
            <!-- <i class='bx bxs-hot'></i>
                  <div class="logo-name">CrossFire Niagara</div> -->
            <img src="/assets/images/crossfire_logo_edited.png" alt="">
          </a>
        </div>
        <i class="bi bi-list" id="btn-close"></i>
      </div>
      <div class="notification-container">
        <button id="notificationBell" class="btn" data-bs-toggle="modal" data-bs-target="#notificationModal">
            <i class="bi bi-bell"></i> 
            <span id="notificationCount" class="badge bg-danger"></span>
        </button>
    </div>
      <ul class="nav-list">
        <li>
            <a href="index.html"  data-bs-toggle="tooltip" title="Dashboard">
                <i class="bi bi-speedometer2"></i>
                <span class="links-name">Dashboard</span>
            </a>
        </li>
        <li id="create-ncr-nav" style="display:none;">
            <a href="non-conformance-report.html" data-bs-toggle="tooltip" title="Create NCR" id="createNCRLink">
                <i class="bi bi-file-earmark-plus"></i>
                <span class="links-name">Create NCR</span>
            </a>
        </li>
        <li>
            <a href="ncr-log.html" data-bs-toggle="tooltip" title="NCR Log">
                <i class="bi bi-card-list"></i>
                <span class="links-name">NCR Log</span>
            </a>
        </li>
        <li>
            <a href="ncr-data.html" data-bs-toggle="tooltip" title="NCR Data">
                <i class="bi bi-bar-chart"></i>
                <span class="links-name">NCR Data</span>
            </a>
        </li>
        <li>
            <a href="product.html" data-bs-toggle="tooltip" title="Products">
                <i class="bi bi-box-seam"></i>
                <span class="links-name">Products</span>
            </a>
        </li>
        <li id="employees-nav"  style="display: none;">
            <a href="Employee.html" data-bs-toggle="tooltip" title="Employees">
                <i class="bi bi-people"></i>
                <span class="links-name">Employees</span>
            </a>
        </li>
        <li>
            <a href="supplier.html" data-bs-toggle="tooltip" title="Supplier">
                <i class="bi bi-truck"></i>
                <span class="links-name">Suppliers</span>
            </a>
        </li>
    </ul>
      <div class="profile-content">
        <div class="profile">
          <div class="profile-details">
            <img src="/assets/images/crossfire_logo.PNG" alt="" class="">
            <div class="name-job">
              <div class="name">CrossFire Niagara</div>
              <div class="job">Admin</div>
            </div>
          </div>
          <i class="bi bi-box-arrow-left" id="log-out"></i>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="dashboard">
        <div class="home-content">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="justify-content: flex-start">
              <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="product.html">Products</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Create Product
              </li>
            </ol>
          </nav>
          <section class="ncr-trends">
            <div class="top-flex">
              <h2>New Product</h2>
            </div>
            <form id="supplier-form">
              <fieldset class="border p-2">
                <legend class="w-auto">Product Information</legend>
                <div class="">
                  <div class="form-group">
                    <label for="product-name">Product Name</label>
                    <i class="bi bi-question-circle text-primary"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="Product Name is required in this filed."></i>
                    <input
                      type="text"
                      id="product-name"
                      name="product-name"
                      required
                    >
                  </div>
                  <div class="two-column">
                    <div class="form-group">
                      <label for="product-category">Product Category</label>
                      <i class="bi bi-question-circle text-primary"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      title="Product Category is required in this filed."></i>
                      <input
                        type="text"
                        id="product-category"
                        name="product-category"
                      >
                    </div>
                    <div class="form-group">
                      <label for="supplier-name">Supplier</label>
                      <i class="bi bi-question-circle text-primary"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      title="Select a supplier name from the dropdown list."></i>
                      <select id="supplier-name" name="supplier-name">
                            <!--Populate in code-->
                      </select>
                    </div>
                  </div>
                </div>    
              </fieldset>
              <div class="form-group submit-btn-container">
                <button type="button" class="cancel-btn" onclick="window.location.href='supplier.html';">Cancel</button>
                <button type="submit" class="submit-btn" id="btnSubmit">Create</button>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <script src="../assets/js/product/create-product.js"></script>
    <script src="../assets/js/main/sidebar.js"></script>
    <script src="../assets/js/main/user-role-handling.js"></script>
    <script defer src="../assets/js/product/populate-form-fields.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<<script>
  // Initialize all tooltips on the page
  document.addEventListener('DOMContentLoaded', function () {
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>
<script src="../assets/js/main/inject-notification-modal.js"></script>
<script src="../assets/js/main/notification-handling.js"></script>
  </body>
</html>
