<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New NCR Report</title>
    <!-- Bootstrap Icons link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div class="sidebar" id="sidebar">
        <div class="logo-content">
            <div class="logo">
                <a href="index.html">
                    <!-- <i class='bx bxs-hot'></i>
                        <div class="logo-name">CrossFire Niagara</div> -->
                    <img src="/assets/images/crossfire_logo_edited.png" alt="CrossFire Niagara Logo">
                </a>
            </div>
            <i class="bi bi-list" id="btn-close"></i>
        </div>
        <ul class="nav-list">
            <!-- <div class="search-box">
                <li>
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Search">
                    <span class="tooltip">Dashboard</span>
                </li>
            </div> -->
            <li>
                <a href="index.html">
                    <i class="bi bi-speedometer2"></i>
                    <span class="links-name">Dashboard</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="non-conformance-report.html">
                    <i class="bi bi-file-earmark-richtext"></i>
                    <span class="links-name">Non-Conformance Report</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="product.html">
                    <i class="bi bi-box-seam"></i>
                    <span class="links-name">Products</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="Employee.html">
                    <i class="bi bi-people"></i>
                    <span class="links-name">Employees</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="supplier.html">
                    <i class="bi bi-truck"></i>
                    <span class="links-name">Suppliers</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
        </ul>
        <div class="profile-content">
            <div class="profile">
                <div class="profile-details">
                    <img src="/assets/images/crossfire_logo.PNG" alt="CrossFire Niagara Logo">
                    <div class="name-job">
                        <div class="name">CrossFire Niagara</div>
                        <div class="job">Admin</div>
                    </div>
                </div>
                <i class="bi bi-box-arrow-left" id="log-out"></i>
            </div>
        </div>
    </div>
    <div class="home-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="justify-content: flex-start;">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Non-Conformance Report</li>
            </ol>
        </nav>

        <form id="ncr-form">
            <fieldset class="border p-2">
                <legend class="w-auto">Non-Conformance Report</legend>
                <div class="two-column">
                    <div class="form-group">
                        <label for="ncr-no" class="required">NCR No.</label> 
                        <input type="text" id="ncr-no" name="ncrNo" data-bs-toggle="tooltip" title="Required">
                    </div>
                    <div class="form-group">
                        <label for="document-no">Document No.</label>
                        <input type="text" id="document-no" name="docNo" value="OPS-00011" readonly> 
                    </div>
                    <div class="form-group">
                        <label for="ncr-date" class="required">Date</label>
                        <input type="date" id="ncr-date" name="ncrDate" data-bs-toggle="tooltip" title="Required" readonly>
                    </div>
                    <div class="form-group">
                        <label for="status" class="required">Status</label>
                        <select id="status" name="status" data-bs-toggle="tooltip" title="Required">
                            <option value="active">Open</option>
                            <option value="inactive">Closed</option>
                            <option value="in-progress">In Progress</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset class="border p-2">
                <legend class="w-auto collapsible" id="legend-quality">Quality Representative</legend>
                <div id="section-quality">
                    <div class="two-column">
                        <div class="form-group">
                            <label for="supplier-name" class="required">Supplier Name</label>
                            <select id="supplier-name" name="supplier-name" data-bs-toggle="tooltip" title="Required">
                                <option value="" disabled selected required>Select a Supplier</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="required" data-bs-toggle="tooltip" title="Required">Identify Process Applicable</label>
                            <div class="checkbox-group">
                                <label><input type="checkbox" name="process-applicable" value="supplier" id="recInsp">
                                    Supplier or
                                    Rec-Insp</label>
                                <label><input type="checkbox" name="process-applicable" value="wip" id="wip"> WIP
                                    (Production
                                    Order)</label>
                            </div>
                        </div>
                    </div>

                    <div class="four-column">
                        <div class="form-group">
                            <label for="po-prod-no" class="required">Product</label>
                            <select id="po-prod-no" name="po-prod-no" data-bs-toggle="tooltip" title="Required">
                                <option value="" disabled selected required>Select a Product</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sales-order-no" class="required">Sales Order No.</label>
                            <input type="text" id="sales-order-no" name="sales-order-no" data-bs-toggle="tooltip" title="Required">
                        </div>
                        <div class="form-group">
                            <label for="quantity-received" class="required">Quantity Received</label>
                            <input type="text" id="quantity-received" name="quantity-received" data-bs-toggle="tooltip" title="Required">
                        </div>
                        <div class="form-group">
                            <label for="quantity-defective" class="required">Quantity Defective</label>
                            <input type="text" id="quantity-defective" name="quantity-defective" data-bs-toggle="tooltip" title="Required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description-item" class="required">Description of Item (including SAP No.)</label>
                        <textarea id="description-item" name="description-item" rows="3" class="full-width" data-bs-toggle="tooltip" title="Required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description-defect" class="required">Description of Defect</label>
                        <textarea id="description-defect" name="description-defect" rows="3" class="full-width" data-bs-toggle="tooltip" title="Required"></textarea>
                    </div>

                    <div class="two-column">
                        <div class="form-group">
                            <label>Upload Documents</label>
                            <div class="two-column">
                                <label><input id="file" type="file" name="file"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required" data-bs-toggle="tooltip" title="Required">Item Marked Nonconforming</label>
                            <div class="two-column">
                                <label><input type="radio" name="item-nonconforming" value="yes" required> Yes</label>
                                <label><input type="radio" name="item-nonconforming" value="no"> No</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quality-rep-name" class="required">Quality Representative's Name</label>
                            <input type="text" id="quality-rep-name" name="quality-rep-name" data-bs-toggle="tooltip" title="Required">
                        </div>
                        <div class="form-group">
                            <label for="quality-rep-date">Date</label>
                            <input type="date" id="quality-rep-date" name="quality-rep-date" readonly>
                        </div>
                    </div>

                    <div class="form-group submit-btn-container">
                        <button type="submit" class="submit-btn" id="submit-btn">Submit</button>
                    </div>
                </div>
            </fieldset>

            <fieldset class="border p-2">
                <legend class="w-auto collapsible" id="legend-engineering">Engineering</legend>
                <div id="section-engineering">
                    <section class="bordered">
                        <div class="two-column">
                            <div class="form-group">
                                <label class="required" data-bs-toggle="tooltip" title="Required">Review by Chief Engineering</label>
                                <p>Indicate disposition by "checking" one of the following</p>
                                <div class="four-column">
                                    <label><input type="checkbox" name="review-by-engineer" value="use-as-is">Use As
                                        Is</label>
                                    <label><input type="checkbox" name="review-by-engineer"
                                            value="repair">Repair</label>
                                    <label><input type="checkbox" name="review-by-engineer"
                                            value="rework">Rework</label>
                                    <label><input type="checkbox" name="review-by-engineer" value="scrap">Scrap</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Does Customer require notification of NCR</label>
                                <p>If "Yes" then raise message to customer detail issues</p>
                                <div class="two-column">
                                    <label><input type="radio" name="require-notification" value="yes" required>
                                        Yes</label>
                                    <label><input type="radio" name="require-notification" value="no"> No</label>
                                </div>
                            </div>
                        </div>

                    </section>
                    <section class="no-border">
                        <div class="form-group">
                            <label for="disposition" class="required">Disposition</label>
                            <textarea id="disposition" name="disposition" rows="3" class="full-width" data-bs-toggle="tooltip" title="Required"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Does the drawing require updating</label>
                            <p>Sequence of work steps required when "repair" or "rework" indicated</p>
                            <div class="four-column">
                                <label><input type="radio" name="require-updating" value="yes" required> Yes</label>
                                <label><input type="radio" name="require-updating" value="no"> No</label>
                            </div>
                        </div>
                        <div class="four-column">
                            <div class="form-group">
                                <label for="original-rev-number">Original Revision Number</label>
                                <input type="text" id="original-rev-number" name="original-rev-number">
                            </div>
                            <div class="form-group">
                                <label for="updated-rev-number">Updated Revision Number</label>
                                <input type="text" id="updated-rev-number" name="updated-rev-number">
                            </div>
                            <div class="form-group">
                                <label for="engineer-name">Name of Engineer</label>
                                <input type="text" id="engineer-name" name="engineer-name">
                            </div>
                            <div class="form-group">
                                <label for="revision-date">Revision Date</label>
                                <input type="date" id="revision-date" name="revision-date" readonly>
                            </div>
                        </div>
                        <div class="two-column">
                            <div class="form-group">
                                <label for="engineering" class="required">Engineering</label>
                                <input type="text" id="engineering" name="engineering" data-bs-toggle="tooltip" title="Required">
                            </div>
                            <div class="form-group">
                                <label for="engineer-date" class="required">Date</label>
                                <input type="date" id="engineer-date" name="engineeer-date" data-bs-toggle="tooltip" title="Required" readonly>
                            </div>
                        </div>
                    </section>


                    <div class="form-group submit-btn-container">
                        <button type="submit" class="submit-btn" id="submit-btn">Submit</button>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Erorr</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="errorModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="successModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="btnDismiss">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/ncr/create-ncr.js"></script>
    <script defer src="../assets/js/ncr/populate-form-fields.js"></script>
    <script defer src="../assets/js/main/sidebar.js"></script>
    <script src="../assets/js/main/user-role-handling.js"></script>
    <script src="../assets/js/ncr/auto-date.js"></script>
    <script src="../assets/js/ncr/collapsible.js"></script>
    <script src="../assets/js/main/tooltip.js"></script>
</body>

</html>